name: Teste Robot Framework

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  robot-run:
    runs-on: ubuntu-latest

    steps:
    # Passo 1: Check out o c贸digo do reposit贸rio
    - name: Check out repository
      uses: actions/checkout@v2

    # Passo 2: Instalar o Google Chrome
    - name: Instalar Google Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y wget curl
        sudo apt-get install -y google-chrome-stable

    # Passo 3: Instalar o ChromeDriver
    - name: Instalar ChromeDriver
      run: |
        # Baixar a vers茫o do ChromeDriver correspondente  vers茫o do Chrome
        wget https://storage.googleapis.com/chrome-for-testing-public/134.0.6998.165/linux64/chromedriver-linux64.zip
        unzip chromedriver-linux64.zip
        # Listar os arquivos extra铆dos para verificar onde est谩 o chromedriver
        ls -la chromedriver-linux64
        # Mover o chromedriver para /usr/local/bin/
        sudo mv chromedriver-linux64/chromedriver /usr/local/bin/
        sudo chmod +x /usr/local/bin/chromedriver

    # Passo 4: Instalar o Robot Framework e bibliotecas necess谩rias
    - name: Instalar o Robot Framework e depend锚ncias
      run: |
        python -m pip install --upgrade pip
        pip install robotframework
        pip install robotframework-seleniumlibrary

    # Passo 5: Rodar os testes do Robot Framework
    - name: Rodar testes Robot Framework
      run: |
        export DISPLAY=:99.0
        Xvfb :99 -screen 0 1280x1024x24 2>/dev/null &
        robot --variable CHROME_USER_DATA_DIR:/tmp/chrome_user_data tests/
    
    # Passo 6: Publicar os relat贸rios no GitHub Pages
    - name: Publicar relat贸rios no GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: /home/runner/work/automacao_robotframework/automacao_robotframework/
        publish_branch: gh-pages
        
    # Passo 7: Adicionar links dos relat贸rios ao Summary
    - name: Adicionar links dos relat贸rios ao Summary
      run: |
        echo "###  Relat贸rios do Robot Framework" >> $GITHUB_STEP_SUMMARY
        echo " [Abrir Relat贸rio Online (GitHub Pages)](https://${{ github.repository_owner }}.github.io/automacao_robotframework/report.html)" >> $GITHUB_STEP_SUMMARY